/* _variables.scss */
$color-primario: #D32F2F;
$color-secundario: #d62828;
$color-exito: #198754;
$color-texto: #333;
$color-texto-suave: #555;
$color-borde: #ddd;
$fondo-claro: #f4f4f4;

$fuente-principal: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$fuente-titulos: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;